<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ko.prototype.admin.dao.repository.RegionRepository">
	<!--
		此文件初版由工具生成，仅需生成一次，请定制开发
		生成时间: 2018-02-24 13:12:18
	-->
	<resultMap id="RegionGridResultMap" type="org.ko.prototype.admin.bean.domain.RegionGrid" extends="org.ko.prototype.data.dao.mapper.RegionMapper.BaseResultMap">
	</resultMap>

	<sql id="Select">
		select
			<include refid="org.ko.prototype.data.dao.mapper.RegionMapper.Base_Column_List" />
		from art_region where 1
		<foreach collection="_this" index="key" item="value" open="" close="" separator="">
			<if test="!key.startsWith('_')">
				<if test="value == null">
			and ${key} is null
				</if>
				<if test="value != null">
			and ${key} = #{value}
				</if>
			</if>
		</foreach>
		<if test="_orderBy != null and _orderBy.trim() != ''">
			order by #{_orderBy}
		</if>
	</sql>

	<select id="select" parameterType="map" resultMap="org.ko.prototype.data.dao.mapper.RegionMapper.BaseResultMap">
		<include refid="Select"></include>
	</select>
	
	<select id="count" parameterType="map" resultType="long">
		select count(*) from (
		<include refid="Select"></include>
		) t
	</select>

	<select id="selectGrid" parameterType="map" resultMap="RegionGridResultMap">
		select 
			r.id 
			, r.city_id 
			, r.root_id 
			, r.parent_id 
			, r.city_path 
			, r.rank 
			, r.city 
			, r.city_en 
			, r.city_type 
			, r.gov_type 
			, r.post 
			, r.area_code 
			, r.shorten 
			, r.keyword 
			, r.seq 
			, r.delete_status 
			, r.create_user_id 
			, r.create_by 
			, r.create_date 
			, r.update_user_id 
			, r.update_by 
			, r.update_date 
		from art_region r 
		where r.delete_status = 1
		<if test="id != null and id.trim() != ''">
			and r.id like concat('%', #{id}, '%')
		</if>
		<if test="city_id != null and city_id.trim() != ''">
			and r.city_id like concat('%', #{city_id}, '%')
		</if>
		<if test="root_id != null and root_id.trim() != ''">
			and r.root_id like concat('%', #{root_id}, '%')
		</if>
		<if test="parent_id != null and parent_id.trim() != ''">
			and r.parent_id like concat('%', #{parent_id}, '%')
		</if>
		<if test="city_path != null and city_path.trim() != ''">
			and r.city_path like concat('%', #{city_path}, '%')
		</if>
		<if test="rank != null">
			and r.rank = #{rank}
		</if>
		<if test="city != null and city.trim() != ''">
			and r.city like concat('%', #{city}, '%')
		</if>
		<if test="city_en != null and city_en.trim() != ''">
			and r.city_en like concat('%', #{city_en}, '%')
		</if>
		<if test="city_type != null and city_type.trim() != ''">
			and r.city_type like concat('%', #{city_type}, '%')
		</if>
		<if test="gov_type != null">
			and r.gov_type = #{gov_type}
		</if>
		<if test="post != null and post.trim() != ''">
			and r.post like concat('%', #{post}, '%')
		</if>
		<if test="area_code != null and area_code.trim() != ''">
			and r.area_code like concat('%', #{area_code}, '%')
		</if>
		<if test="shorten != null and shorten.trim() != ''">
			and r.shorten like concat('%', #{shorten}, '%')
		</if>
		<if test="keyword != null and keyword.trim() != ''">
			and r.keyword like concat('%', #{keyword}, '%')
		</if>
		<if test="seq != null">
			and r.seq = #{seq}
		</if>
		<if test="create_user_id != null">
			and r.create_user_id = #{create_user_id}
		</if>
		<if test="create_by != null and create_by.trim() != ''">
			and r.create_by like concat('%', #{create_by}, '%')
		</if>
		<if test="create_date_from != null">
			and date_format(r.create_date, '%Y-%m-%d') &gt;= #{create_date_from}
		</if>
		<if test="create_date_to != null">
			and date_format(r.create_date, '%Y-%m-%d') &lt;= #{create_date_to}
		</if>
		<if test="create_date != null">
			and date_format(r.create_date, '%Y-%m-%d') = #{create_date}
		</if>
		<if test="update_user_id != null">
			and r.update_user_id = #{update_user_id}
		</if>
		<if test="update_by != null and update_by.trim() != ''">
			and r.update_by like concat('%', #{update_by}, '%')
		</if>
		<if test="update_date_from != null">
			and date_format(r.update_date, '%Y-%m-%d') &gt;= #{update_date_from}
		</if>
		<if test="update_date_to != null">
			and date_format(r.update_date, '%Y-%m-%d') &lt;= #{update_date_to}
		</if>
		<if test="update_date != null">
			and date_format(r.update_date, '%Y-%m-%d') = #{update_date}
		</if>
		order by r.id desc
	</select>

	<insert id="insert" parameterType="map" useGeneratedKeys="true" keyProperty="id">
		insert into art_region 
		<foreach collection="_this" index="key" open="(" close=")" separator=",">
			<if test="!key.startsWith('_')">
			${key}
			</if>
		</foreach>
		values
		<foreach collection="_this" index="key" item="value" open="(" close=")" separator=",">
			<if test="!key.startsWith('_')">
			if(length(#{value}) = 0, null, #{value})
			</if>
		</foreach>
	</insert>
	
	<update id="update" parameterType="map">
		update art_region set
		<foreach collection="_this" index="key" item="value" open="" close="" separator=",">
		<if test="key != 'id' and !key.startsWith('_')">
			${key} = #{value}
		</if>
		</foreach>
		where id = #{id}
	</update>
	
	<delete id="delete" parameterType="map">
		delete from art_region where 1
		<foreach collection="_this" index="key" item="value" open="" close="" separator="">
			<if test="!key.startsWith('_')">
				<if test="value == null">
			and ${key} is null
				</if>
				<if test="value != null">
			and ${key} = #{value}
				</if>
			</if>
		</foreach>
	</delete>
</mapper>