<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ko.prototype.admin.dao.repository.RoleRepository">
	<!--
		此文件初版由工具生成，仅需生成一次，请定制开发
		生成时间: 2018-02-24 13:12:20
	-->
	<resultMap id="RoleGridResultMap" type="org.ko.prototype.admin.bean.domain.RoleGrid" extends="org.ko.prototype.data.dao.mapper.RoleMapper.BaseResultMap">
	</resultMap>

	<sql id="Select">
		select
			<include refid="org.ko.prototype.data.dao.mapper.RoleMapper.Base_Column_List" />
		from art_role where 1
		<foreach collection="_this" index="key" item="value" open="" close="" separator="">
			<if test="!key.startsWith('_')">
				<if test="value == null">
			and ${key} is null
				</if>
				<if test="value != null">
			and ${key} = #{value}
				</if>
			</if>
		</foreach>
		<if test="_orderBy != null and _orderBy.trim() != ''">
			order by #{_orderBy}
		</if>
	</sql>

	<select id="select" parameterType="map" resultMap="org.ko.prototype.data.dao.mapper.RoleMapper.BaseResultMap">
		<include refid="Select"></include>
	</select>
	
	<select id="count" parameterType="map" resultType="long">
		select count(*) from (
		<include refid="Select"></include>
		) t
	</select>

	<select id="selectGrid" parameterType="map" resultMap="RoleGridResultMap">
		select 
			r.id 
			, r.name 
			, r.description 
			, r.delete_status 
			, r.trace_code_i 
			, r.trace_code_u 
			, r.host_name 
			, r.create_user_id 
			, r.create_by 
			, r.create_date 
			, r.update_user_id 
			, r.update_by 
			, r.update_date 
		from art_role r 
		where r.delete_status = 1
		<if test="id != null">
			and r.id = #{id}
		</if>
		<if test="name != null and name.trim() != ''">
			and r.name like concat('%', #{name}, '%')
		</if>
		<if test="description != null and description.trim() != ''">
			and r.description like concat('%', #{description}, '%')
		</if>
		<if test="trace_code_i != null and trace_code_i.trim() != ''">
			and r.trace_code_i like concat('%', #{trace_code_i}, '%')
		</if>
		<if test="trace_code_u != null and trace_code_u.trim() != ''">
			and r.trace_code_u like concat('%', #{trace_code_u}, '%')
		</if>
		<if test="host_name != null and host_name.trim() != ''">
			and r.host_name like concat('%', #{host_name}, '%')
		</if>
		<if test="create_user_id != null">
			and r.create_user_id = #{create_user_id}
		</if>
		<if test="create_by != null and create_by.trim() != ''">
			and r.create_by like concat('%', #{create_by}, '%')
		</if>
		<if test="create_date_from != null">
			and date_format(r.create_date, '%Y-%m-%d') &gt;= #{create_date_from}
		</if>
		<if test="create_date_to != null">
			and date_format(r.create_date, '%Y-%m-%d') &lt;= #{create_date_to}
		</if>
		<if test="create_date != null">
			and date_format(r.create_date, '%Y-%m-%d') = #{create_date}
		</if>
		<if test="update_user_id != null">
			and r.update_user_id = #{update_user_id}
		</if>
		<if test="update_by != null and update_by.trim() != ''">
			and r.update_by like concat('%', #{update_by}, '%')
		</if>
		<if test="update_date_from != null">
			and date_format(r.update_date, '%Y-%m-%d') &gt;= #{update_date_from}
		</if>
		<if test="update_date_to != null">
			and date_format(r.update_date, '%Y-%m-%d') &lt;= #{update_date_to}
		</if>
		<if test="update_date != null">
			and date_format(r.update_date, '%Y-%m-%d') = #{update_date}
		</if>
		order by r.id desc
	</select>

	<insert id="insert" parameterType="map" useGeneratedKeys="true" keyProperty="id">
		insert into art_role 
		<foreach collection="_this" index="key" open="(" close=")" separator=",">
			<if test="!key.startsWith('_')">
			${key}
			</if>
		</foreach>
		values
		<foreach collection="_this" index="key" item="value" open="(" close=")" separator=",">
			<if test="!key.startsWith('_')">
			if(length(#{value}) = 0, null, #{value})
			</if>
		</foreach>
	</insert>
	
	<update id="update" parameterType="map">
		update art_role set
		<foreach collection="_this" index="key" item="value" open="" close="" separator=",">
		<if test="key != 'id' and !key.startsWith('_')">
			${key} = #{value}
		</if>
		</foreach>
		where id = #{id}
	</update>
	
	<delete id="delete" parameterType="map">
		delete from art_role where 1
		<foreach collection="_this" index="key" item="value" open="" close="" separator="">
			<if test="!key.startsWith('_')">
				<if test="value == null">
			and ${key} is null
				</if>
				<if test="value != null">
			and ${key} = #{value}
				</if>
			</if>
		</foreach>
	</delete>
</mapper>