<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ko.prototype.admin.dao.repository.TaskRepository">
	<!--
		此文件初版由工具生成，仅需生成一次，请定制开发
		生成时间: 2018-02-24 13:12:22
	-->
	<resultMap id="TaskGridResultMap" type="org.ko.prototype.admin.bean.domain.TaskGrid" extends="org.ko.prototype.data.dao.mapper.TaskMapper.BaseResultMap">
	</resultMap>

	<sql id="Select">
		select
			<include refid="org.ko.prototype.data.dao.mapper.TaskMapper.Base_Column_List" />
		from art_task where 1
		<foreach collection="_this" index="key" item="value" open="" close="" separator="">
			<if test="!key.startsWith('_')">
				<if test="value == null">
			and ${key} is null
				</if>
				<if test="value != null">
			and ${key} = #{value}
				</if>
			</if>
		</foreach>
		<if test="_orderBy != null and _orderBy.trim() != ''">
			order by #{_orderBy}
		</if>
	</sql>

	<select id="select" parameterType="map" resultMap="org.ko.prototype.data.dao.mapper.TaskMapper.BaseResultMap">
		<include refid="Select"></include>
	</select>
	
	<select id="count" parameterType="map" resultType="long">
		select count(*) from (
		<include refid="Select"></include>
		) t
	</select>

	<select id="selectGrid" parameterType="map" resultMap="TaskGridResultMap">
		select 
			t.id 
			, t.name 
			, t.start_time 
			, t.finish_time 
			, t.storage_path 
			, t.file_url 
			, t.file_name 
			, t.percent 
			, t.progress_status 
			, t.exception 
			, t.trace_code_i 
			, t.trace_code_u 
			, t.host_name 
			, t.create_user_id 
			, t.create_by 
			, t.create_date 
			, t.update_user_id 
			, t.update_by 
			, t.update_date 
		from art_task t 
		where 1 = 1
		<if test="id != null">
			and t.id = #{id}
		</if>
		<if test="name != null and name.trim() != ''">
			and t.name like concat('%', #{name}, '%')
		</if>
		<if test="start_time_from != null">
			and date_format(t.start_time, '%Y-%m-%d') &gt;= #{start_time_from}
		</if>
		<if test="start_time_to != null">
			and date_format(t.start_time, '%Y-%m-%d') &lt;= #{start_time_to}
		</if>
		<if test="start_time != null">
			and date_format(t.start_time, '%Y-%m-%d') = #{start_time}
		</if>
		<if test="finish_time_from != null">
			and date_format(t.finish_time, '%Y-%m-%d') &gt;= #{finish_time_from}
		</if>
		<if test="finish_time_to != null">
			and date_format(t.finish_time, '%Y-%m-%d') &lt;= #{finish_time_to}
		</if>
		<if test="finish_time != null">
			and date_format(t.finish_time, '%Y-%m-%d') = #{finish_time}
		</if>
		<if test="storage_path != null and storage_path.trim() != ''">
			and t.storage_path like concat('%', #{storage_path}, '%')
		</if>
		<if test="file_url != null and file_url.trim() != ''">
			and t.file_url like concat('%', #{file_url}, '%')
		</if>
		<if test="file_name != null and file_name.trim() != ''">
			and t.file_name like concat('%', #{file_name}, '%')
		</if>
		<if test="percent != null">
			and t.percent = #{percent}
		</if>
		<if test="progress_status != null">
			and t.progress_status = #{progress_status}
		</if>
		<if test="exception != null and exception.trim() != ''">
			and t.exception like concat('%', #{exception}, '%')
		</if>
		<if test="trace_code_i != null and trace_code_i.trim() != ''">
			and t.trace_code_i like concat('%', #{trace_code_i}, '%')
		</if>
		<if test="trace_code_u != null and trace_code_u.trim() != ''">
			and t.trace_code_u like concat('%', #{trace_code_u}, '%')
		</if>
		<if test="host_name != null and host_name.trim() != ''">
			and t.host_name like concat('%', #{host_name}, '%')
		</if>
		<if test="create_user_id != null">
			and t.create_user_id = #{create_user_id}
		</if>
		<if test="create_by != null and create_by.trim() != ''">
			and t.create_by like concat('%', #{create_by}, '%')
		</if>
		<if test="create_date_from != null">
			and date_format(t.create_date, '%Y-%m-%d') &gt;= #{create_date_from}
		</if>
		<if test="create_date_to != null">
			and date_format(t.create_date, '%Y-%m-%d') &lt;= #{create_date_to}
		</if>
		<if test="create_date != null">
			and date_format(t.create_date, '%Y-%m-%d') = #{create_date}
		</if>
		<if test="update_user_id != null">
			and t.update_user_id = #{update_user_id}
		</if>
		<if test="update_by != null and update_by.trim() != ''">
			and t.update_by like concat('%', #{update_by}, '%')
		</if>
		<if test="update_date_from != null">
			and date_format(t.update_date, '%Y-%m-%d') &gt;= #{update_date_from}
		</if>
		<if test="update_date_to != null">
			and date_format(t.update_date, '%Y-%m-%d') &lt;= #{update_date_to}
		</if>
		<if test="update_date != null">
			and date_format(t.update_date, '%Y-%m-%d') = #{update_date}
		</if>
		order by t.id desc
	</select>

	<insert id="insert" parameterType="map" useGeneratedKeys="true" keyProperty="id">
		insert into art_task 
		<foreach collection="_this" index="key" open="(" close=")" separator=",">
			<if test="!key.startsWith('_')">
			${key}
			</if>
		</foreach>
		values
		<foreach collection="_this" index="key" item="value" open="(" close=")" separator=",">
			<if test="!key.startsWith('_')">
			if(length(#{value}) = 0, null, #{value})
			</if>
		</foreach>
	</insert>
	
	<update id="update" parameterType="map">
		update art_task set
		<foreach collection="_this" index="key" item="value" open="" close="" separator=",">
		<if test="key != 'id' and !key.startsWith('_')">
			${key} = #{value}
		</if>
		</foreach>
		where id = #{id}
	</update>
	
	<delete id="delete" parameterType="map">
		delete from art_task where 1
		<foreach collection="_this" index="key" item="value" open="" close="" separator="">
			<if test="!key.startsWith('_')">
				<if test="value == null">
			and ${key} is null
				</if>
				<if test="value != null">
			and ${key} = #{value}
				</if>
			</if>
		</foreach>
	</delete>
</mapper>