<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ko.prototype.admin.dao.repository.FileLogRepository">
	<!--
		此文件初版由工具生成，仅需生成一次，请定制开发
		生成时间: 2018-02-24 13:12:15
	-->
	<resultMap id="FileLogGridResultMap" type="org.ko.prototype.admin.bean.domain.FileLogGrid" extends="org.ko.prototype.data.dao.mapper.FileLogMapper.BaseResultMap">
	</resultMap>

	<sql id="Select">
		select
			<include refid="org.ko.prototype.data.dao.mapper.FileLogMapper.Base_Column_List" />
		from art_file_log where 1
		<foreach collection="_this" index="key" item="value" open="" close="" separator="">
			<if test="!key.startsWith('_')">
				<if test="value == null">
			and ${key} is null
				</if>
				<if test="value != null">
			and ${key} = #{value}
				</if>
			</if>
		</foreach>
		<if test="_orderBy != null and _orderBy.trim() != ''">
			order by #{_orderBy}
		</if>
	</sql>

	<select id="select" parameterType="map" resultMap="org.ko.prototype.data.dao.mapper.FileLogMapper.BaseResultMap">
		<include refid="Select"></include>
	</select>
	
	<select id="count" parameterType="map" resultType="long">
		select count(*) from (
		<include refid="Select"></include>
		) t
	</select>

	<select id="selectGrid" parameterType="map" resultMap="FileLogGridResultMap">
		select 
			fl.id 
			, fl.storage_type 
			, fl.orig_name 
			, fl.local_name 
			, fl.local_path 
			, fl.http_path 
			, fl.param 
			, fl.trace_code_i 
			, fl.host_name 
			, fl.create_user_id 
			, fl.create_by 
			, fl.create_date 
		from art_file_log fl 
		where 1 = 1
		<if test="id != null">
			and fl.id = #{id}
		</if>
		<if test="storage_type != null">
			and fl.storage_type = #{storage_type}
		</if>
		<if test="orig_name != null and orig_name.trim() != ''">
			and fl.orig_name like concat('%', #{orig_name}, '%')
		</if>
		<if test="local_name != null and local_name.trim() != ''">
			and fl.local_name like concat('%', #{local_name}, '%')
		</if>
		<if test="local_path != null and local_path.trim() != ''">
			and fl.local_path like concat('%', #{local_path}, '%')
		</if>
		<if test="http_path != null and http_path.trim() != ''">
			and fl.http_path like concat('%', #{http_path}, '%')
		</if>
		<if test="param != null and param.trim() != ''">
			and fl.param like concat('%', #{param}, '%')
		</if>
		<if test="trace_code_i != null and trace_code_i.trim() != ''">
			and fl.trace_code_i like concat('%', #{trace_code_i}, '%')
		</if>
		<if test="host_name != null and host_name.trim() != ''">
			and fl.host_name like concat('%', #{host_name}, '%')
		</if>
		<if test="create_user_id != null">
			and fl.create_user_id = #{create_user_id}
		</if>
		<if test="create_by != null and create_by.trim() != ''">
			and fl.create_by like concat('%', #{create_by}, '%')
		</if>
		<if test="create_date_from != null">
			and date_format(fl.create_date, '%Y-%m-%d') &gt;= #{create_date_from}
		</if>
		<if test="create_date_to != null">
			and date_format(fl.create_date, '%Y-%m-%d') &lt;= #{create_date_to}
		</if>
		<if test="create_date != null">
			and date_format(fl.create_date, '%Y-%m-%d') = #{create_date}
		</if>
		order by fl.id desc
	</select>

	<insert id="insert" parameterType="map" useGeneratedKeys="true" keyProperty="id">
		insert into art_file_log 
		<foreach collection="_this" index="key" open="(" close=")" separator=",">
			<if test="!key.startsWith('_')">
			${key}
			</if>
		</foreach>
		values
		<foreach collection="_this" index="key" item="value" open="(" close=")" separator=",">
			<if test="!key.startsWith('_')">
			if(length(#{value}) = 0, null, #{value})
			</if>
		</foreach>
	</insert>
	
	<update id="update" parameterType="map">
		update art_file_log set
		<foreach collection="_this" index="key" item="value" open="" close="" separator=",">
		<if test="key != 'id' and !key.startsWith('_')">
			${key} = #{value}
		</if>
		</foreach>
		where id = #{id}
	</update>
	
	<delete id="delete" parameterType="map">
		delete from art_file_log where 1
		<foreach collection="_this" index="key" item="value" open="" close="" separator="">
			<if test="!key.startsWith('_')">
				<if test="value == null">
			and ${key} is null
				</if>
				<if test="value != null">
			and ${key} = #{value}
				</if>
			</if>
		</foreach>
	</delete>
</mapper>