<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ko.prototype.admin.dao.repository.UserRepository">
	<!--
		此文件初版由工具生成，仅需生成一次，请定制开发
		生成时间: 2018-02-24 13:12:23
	-->
	<resultMap id="UserGridResultMap" type="org.ko.prototype.admin.bean.domain.UserGrid" extends="org.ko.prototype.data.dao.mapper.UserMapper.BaseResultMap">
	</resultMap>

	<sql id="Select">
		select
			<include refid="org.ko.prototype.data.dao.mapper.UserMapper.Base_Column_List" />
		from art_user where 1
		<foreach collection="_this" index="key" item="value" open="" close="" separator="">
			<if test="!key.startsWith('_')">
				<if test="value == null">
			and ${key} is null
				</if>
				<if test="value != null">
			and ${key} = #{value}
				</if>
			</if>
		</foreach>
		<if test="_orderBy != null and _orderBy.trim() != ''">
			order by #{_orderBy}
		</if>
	</sql>

	<select id="select" parameterType="map" resultMap="org.ko.prototype.data.dao.mapper.UserMapper.BaseResultMap">
		<include refid="Select"></include>
	</select>
	
	<select id="count" parameterType="map" resultType="long">
		select count(*) from (
		<include refid="Select"></include>
		) t
	</select>

	<select id="selectGrid" parameterType="map" resultMap="UserGridResultMap">
		select 
			u.id 
			, u.login_name 
			, u.password 
			, u.mobile 
			, u.email 
			, u.nick_name 
			, u.full_name 
			, u.gender 
			, u.age 
			, u.birthday 
			, u.avatar 
			, u.credit 
			, u.balance 
			, u.checkout_count 
			, u.last_checkout_time 
			, u.last_login_time 
			, u.login_count 
			, u.last_login_ip 
			, u.delete_status 
			, u.login_token 
			, u.login_token_refresh_time 
			, u.trace_code_i 
			, u.trace_code_u 
			, u.host_name 
			, u.create_user_id 
			, u.create_by 
			, u.create_date 
			, u.update_user_id 
			, u.update_by 
			, u.update_date 
		from art_user u 
		where u.delete_status = 1
		<if test="id != null">
			and u.id = #{id}
		</if>
		<if test="login_name != null and login_name.trim() != ''">
			and u.login_name like concat('%', #{login_name}, '%')
		</if>
		<if test="password != null and password.trim() != ''">
			and u.password like concat('%', #{password}, '%')
		</if>
		<if test="mobile != null and mobile.trim() != ''">
			and u.mobile like concat('%', #{mobile}, '%')
		</if>
		<if test="email != null and email.trim() != ''">
			and u.email like concat('%', #{email}, '%')
		</if>
		<if test="nick_name != null and nick_name.trim() != ''">
			and u.nick_name like concat('%', #{nick_name}, '%')
		</if>
		<if test="full_name != null and full_name.trim() != ''">
			and u.full_name like concat('%', #{full_name}, '%')
		</if>
		<if test="gender != null">
			and u.gender = #{gender}
		</if>
		<if test="age != null">
			and u.age = #{age}
		</if>
		<if test="birthday_from != null">
			and date_format(u.birthday, '%Y-%m-%d') &gt;= #{birthday_from}
		</if>
		<if test="birthday_to != null">
			and date_format(u.birthday, '%Y-%m-%d') &lt;= #{birthday_to}
		</if>
		<if test="birthday != null">
			and date_format(u.birthday, '%Y-%m-%d') = #{birthday}
		</if>
		<if test="avatar != null and avatar.trim() != ''">
			and u.avatar like concat('%', #{avatar}, '%')
		</if>
		<if test="credit != null">
			and u.credit = #{credit}
		</if>
		<if test="balance != null">
			and u.balance = #{balance}
		</if>
		<if test="checkout_count != null">
			and u.checkout_count = #{checkout_count}
		</if>
		<if test="last_checkout_time_from != null">
			and date_format(u.last_checkout_time, '%Y-%m-%d') &gt;= #{last_checkout_time_from}
		</if>
		<if test="last_checkout_time_to != null">
			and date_format(u.last_checkout_time, '%Y-%m-%d') &lt;= #{last_checkout_time_to}
		</if>
		<if test="last_checkout_time != null">
			and date_format(u.last_checkout_time, '%Y-%m-%d') = #{last_checkout_time}
		</if>
		<if test="last_login_time_from != null">
			and date_format(u.last_login_time, '%Y-%m-%d') &gt;= #{last_login_time_from}
		</if>
		<if test="last_login_time_to != null">
			and date_format(u.last_login_time, '%Y-%m-%d') &lt;= #{last_login_time_to}
		</if>
		<if test="last_login_time != null">
			and date_format(u.last_login_time, '%Y-%m-%d') = #{last_login_time}
		</if>
		<if test="login_count != null">
			and u.login_count = #{login_count}
		</if>
		<if test="last_login_ip != null and last_login_ip.trim() != ''">
			and u.last_login_ip like concat('%', #{last_login_ip}, '%')
		</if>
		<if test="login_token != null and login_token.trim() != ''">
			and u.login_token like concat('%', #{login_token}, '%')
		</if>
		<if test="login_token_refresh_time_from != null">
			and date_format(u.login_token_refresh_time, '%Y-%m-%d') &gt;= #{login_token_refresh_time_from}
		</if>
		<if test="login_token_refresh_time_to != null">
			and date_format(u.login_token_refresh_time, '%Y-%m-%d') &lt;= #{login_token_refresh_time_to}
		</if>
		<if test="login_token_refresh_time != null">
			and date_format(u.login_token_refresh_time, '%Y-%m-%d') = #{login_token_refresh_time}
		</if>
		<if test="trace_code_i != null and trace_code_i.trim() != ''">
			and u.trace_code_i like concat('%', #{trace_code_i}, '%')
		</if>
		<if test="trace_code_u != null and trace_code_u.trim() != ''">
			and u.trace_code_u like concat('%', #{trace_code_u}, '%')
		</if>
		<if test="host_name != null and host_name.trim() != ''">
			and u.host_name like concat('%', #{host_name}, '%')
		</if>
		<if test="create_user_id != null">
			and u.create_user_id = #{create_user_id}
		</if>
		<if test="create_by != null and create_by.trim() != ''">
			and u.create_by like concat('%', #{create_by}, '%')
		</if>
		<if test="create_date_from != null">
			and date_format(u.create_date, '%Y-%m-%d') &gt;= #{create_date_from}
		</if>
		<if test="create_date_to != null">
			and date_format(u.create_date, '%Y-%m-%d') &lt;= #{create_date_to}
		</if>
		<if test="create_date != null">
			and date_format(u.create_date, '%Y-%m-%d') = #{create_date}
		</if>
		<if test="update_user_id != null">
			and u.update_user_id = #{update_user_id}
		</if>
		<if test="update_by != null and update_by.trim() != ''">
			and u.update_by like concat('%', #{update_by}, '%')
		</if>
		<if test="update_date_from != null">
			and date_format(u.update_date, '%Y-%m-%d') &gt;= #{update_date_from}
		</if>
		<if test="update_date_to != null">
			and date_format(u.update_date, '%Y-%m-%d') &lt;= #{update_date_to}
		</if>
		<if test="update_date != null">
			and date_format(u.update_date, '%Y-%m-%d') = #{update_date}
		</if>
		order by u.id desc
	</select>

	<insert id="insert" parameterType="map" useGeneratedKeys="true" keyProperty="id">
		insert into art_user 
		<foreach collection="_this" index="key" open="(" close=")" separator=",">
			<if test="!key.startsWith('_')">
			${key}
			</if>
		</foreach>
		values
		<foreach collection="_this" index="key" item="value" open="(" close=")" separator=",">
			<if test="!key.startsWith('_')">
			if(length(#{value}) = 0, null, #{value})
			</if>
		</foreach>
	</insert>
	
	<update id="update" parameterType="map">
		update art_user set
		<foreach collection="_this" index="key" item="value" open="" close="" separator=",">
		<if test="key != 'id' and !key.startsWith('_')">
			${key} = #{value}
		</if>
		</foreach>
		where id = #{id}
	</update>
	
	<delete id="delete" parameterType="map">
		delete from art_user where 1
		<foreach collection="_this" index="key" item="value" open="" close="" separator="">
			<if test="!key.startsWith('_')">
				<if test="value == null">
			and ${key} is null
				</if>
				<if test="value != null">
			and ${key} = #{value}
				</if>
			</if>
		</foreach>
	</delete>
</mapper>