<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ko.prototype.admin.dao.repository.UserActionLogRepository">
	<!--
		此文件初版由工具生成，仅需生成一次，请定制开发
		生成时间: 2018-02-24 13:12:24
	-->
	<resultMap id="UserActionLogGridResultMap" type="org.ko.prototype.admin.bean.domain.UserActionLogGrid" extends="org.ko.prototype.data.dao.mapper.UserActionLogMapper.BaseResultMap">
	</resultMap>

	<sql id="Select">
		select
			<include refid="org.ko.prototype.data.dao.mapper.UserActionLogMapper.Base_Column_List" />
		from art_user_action_log where 1
		<foreach collection="_this" index="key" item="value" open="" close="" separator="">
			<if test="!key.startsWith('_')">
				<if test="value == null">
			and ${key} is null
				</if>
				<if test="value != null">
			and ${key} = #{value}
				</if>
			</if>
		</foreach>
		<if test="_orderBy != null and _orderBy.trim() != ''">
			order by #{_orderBy}
		</if>
	</sql>

	<select id="select" parameterType="map" resultMap="org.ko.prototype.data.dao.mapper.UserActionLogMapper.BaseResultMap">
		<include refid="Select"></include>
	</select>
	
	<select id="count" parameterType="map" resultType="long">
		select count(*) from (
		<include refid="Select"></include>
		) t
	</select>

	<select id="selectGrid" parameterType="map" resultMap="UserActionLogGridResultMap">
		select 
			ual.id 
			, ual.user_id 
			, ual.action_code 
			, ual.message 
			, ual.mile_stone 
			, ual.session_code 
			, ual.thread_code 
			, ual.page_code 
			, ual.browser 
			, ual.remote_ip 
			, ual.app_name 
			, ual.trace_code 
			, ual.create_user_id 
			, ual.create_by 
			, ual.create_date 
			, ual.update_user_id 
			, ual.update_by 
			, ual.update_date 
		from art_user_action_log ual 
		where 1 = 1
		<if test="id != null">
			and ual.id = #{id}
		</if>
		<if test="user_id != null">
			and ual.user_id = #{user_id}
		</if>
		<if test="action_code != null and action_code.trim() != ''">
			and ual.action_code like concat('%', #{action_code}, '%')
		</if>
		<if test="message != null and message.trim() != ''">
			and ual.message like concat('%', #{message}, '%')
		</if>
		<if test="mile_stone != null">
			and ual.mile_stone = #{mile_stone}
		</if>
		<if test="session_code != null and session_code.trim() != ''">
			and ual.session_code like concat('%', #{session_code}, '%')
		</if>
		<if test="thread_code != null and thread_code.trim() != ''">
			and ual.thread_code like concat('%', #{thread_code}, '%')
		</if>
		<if test="page_code != null and page_code.trim() != ''">
			and ual.page_code like concat('%', #{page_code}, '%')
		</if>
		<if test="browser != null and browser.trim() != ''">
			and ual.browser like concat('%', #{browser}, '%')
		</if>
		<if test="remote_ip != null and remote_ip.trim() != ''">
			and ual.remote_ip like concat('%', #{remote_ip}, '%')
		</if>
		<if test="app_name != null and app_name.trim() != ''">
			and ual.app_name like concat('%', #{app_name}, '%')
		</if>
		<if test="trace_code != null and trace_code.trim() != ''">
			and ual.trace_code like concat('%', #{trace_code}, '%')
		</if>
		<if test="create_user_id != null">
			and ual.create_user_id = #{create_user_id}
		</if>
		<if test="create_by != null and create_by.trim() != ''">
			and ual.create_by like concat('%', #{create_by}, '%')
		</if>
		<if test="create_date_from != null">
			and date_format(ual.create_date, '%Y-%m-%d') &gt;= #{create_date_from}
		</if>
		<if test="create_date_to != null">
			and date_format(ual.create_date, '%Y-%m-%d') &lt;= #{create_date_to}
		</if>
		<if test="create_date != null">
			and date_format(ual.create_date, '%Y-%m-%d') = #{create_date}
		</if>
		<if test="update_user_id != null">
			and ual.update_user_id = #{update_user_id}
		</if>
		<if test="update_by != null and update_by.trim() != ''">
			and ual.update_by like concat('%', #{update_by}, '%')
		</if>
		<if test="update_date_from != null">
			and date_format(ual.update_date, '%Y-%m-%d') &gt;= #{update_date_from}
		</if>
		<if test="update_date_to != null">
			and date_format(ual.update_date, '%Y-%m-%d') &lt;= #{update_date_to}
		</if>
		<if test="update_date != null">
			and date_format(ual.update_date, '%Y-%m-%d') = #{update_date}
		</if>
		order by ual.id desc
	</select>

	<insert id="insert" parameterType="map" useGeneratedKeys="true" keyProperty="id">
		insert into art_user_action_log 
		<foreach collection="_this" index="key" open="(" close=")" separator=",">
			<if test="!key.startsWith('_')">
			${key}
			</if>
		</foreach>
		values
		<foreach collection="_this" index="key" item="value" open="(" close=")" separator=",">
			<if test="!key.startsWith('_')">
			if(length(#{value}) = 0, null, #{value})
			</if>
		</foreach>
	</insert>
	
	<update id="update" parameterType="map">
		update art_user_action_log set
		<foreach collection="_this" index="key" item="value" open="" close="" separator=",">
		<if test="key != 'id' and !key.startsWith('_')">
			${key} = #{value}
		</if>
		</foreach>
		where id = #{id}
	</update>
	
	<delete id="delete" parameterType="map">
		delete from art_user_action_log where 1
		<foreach collection="_this" index="key" item="value" open="" close="" separator="">
			<if test="!key.startsWith('_')">
				<if test="value == null">
			and ${key} is null
				</if>
				<if test="value != null">
			and ${key} = #{value}
				</if>
			</if>
		</foreach>
	</delete>
</mapper>