<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ko.prototype.data.master.dao.UserMapper">
	<resultMap id="BaseResultMap" type="org.ko.prototype.data.master.domain.User">
		<result column="id" property="id" />
		<result column="name" property="name" />
		<result column="age" property="age" />
	</resultMap>

	<parameterMap id="User" type="org.ko.prototype.data.master.domain.User"/>

	<sql id="Base_Column_List">
		id, name, age
	</sql>

	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from user
		where id = 1
	</select>

</mapper>
